body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
h1 {
  text-align: left;
  color: grey;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}
h2 {
  text-align: left;
  color: grey;
  font-size: 25px;
}
small {
  font-size: 15px;
}
form {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 0 0;
}
.justify-content-center {
  max-width: 600px;
  margin: 30px auto 0px auto;
  border: solid 1px;
  border-color: #dadde1;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #dadde1;
  max-width: 700px;
}
.col-4 {
  padding: 20px 0 20px 0;
}
.temp {
  font-size: 60px;
  color: hotpink;
  font-weight: 600;
}
.units {
  position: relative;
  top: -32px;
  color: hotpink;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}
.current {
  text-transform: capitalize;
}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.form-control {
  margin-bottom: 10px;
}
